@font-face {
    font-family: 'Gilroy-bold';
    src: url(../font-family/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: 'Gilroy-light';
    src: url(../font-family/Gilroy-Light.otf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.left_0{
    left: 0 !important;
}
.shdwo{
    text-shadow: 0px 4.909390449523926px 4.909390449523926px rgba(0, 0, 0, 0.25);
}
.shdw1{
    text-shadow: 0px 3px 3.0395138263702393px rgba(0, 0, 0, 0.25);
}
.icon:hover svg path {
    fill: white;
}
.icon:hover circle {
    fill: black;
}
.icon1:hover circle {
    fill: red;
}
.responsive::after{
    content: "";
    background: white;
    position: absolute;
    top:0;
    bottom: 0;
    right: 91%;
    height: 100%;
    width: 500px;
}
html{
    line-height: unset !important;
}